.history {
    background-color: rgb(52, 77, 77);
    text-align: center;
    align-items:center;
    text-align: center;
    font-size: 50px;
    color: rgb(240, 224, 7);
    text-shadow: 1px 1px 2px rgb(211, 207, 86), 0 0 1em rgb(255, 166, 0), 0 0 0.2em rgba(255, 102, 0, 0.837);
}